/* Necessary because of the navbar */
body {
  padding-top: 75px;
}

/* Hides error containers by default */
#error-container,
#info-container {
  display: none;
  visibility: hidden;
}

/* Used on the login and sign up pages */
#form-container {
  border: 3px solid #ddd;
  padding: 10px;
  box-shadow:
}

/* Also used on the login and sign up pages */
#form-container form + p {
  margin-top: 10px;
}

#post-form input[type="submit"] {
  float: right;
  width: 100px;
}

#post-text {
  width: 100%;
  resize: none;
}

/* Necessary because React messes with Bootstrap rendering for some reason */
.form-control + .form-control,
.form-control + input[type="hidden"],
.form-control + button,
input[type="hidden"] + button {
  margin-left: 6px;
}

/* Fricken Bootstrap using -1 in weird ass places */
@media (max-width: 767px) {
  .form-control + .form-control,
  .form-control + input[type="hidden"],
  .form-control + button,
  input[type="hidden"] + button {
    margin-left: 0px;
    margin-top: 6px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.col-center {
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.post:first-of-type {
  margin-top: 16px;
}

.post {
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 4px;
  padding: 12px 20px;
}

.post p {
  padding: 0;
  margin: 0;
}

.post .info {
  color: #888;
}

.post + .post,
.post-footer {
  margin-top: 16px;
}
